*{
    width: 0px;
    height: 0px;
    
}
#logo img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    transition: all 1s ease-in-out;

}
#logo img:hover{
    width: 200px;
    height: 200px;
}